<%- include("header") -%>
<div class="addStudent">
    <h1>Select a Class to add the student</h1>
    <a href="1A">
        <button type="button" class="btn btn-outline-dark">1 A</button>

    </a>
    <a href="1B">
        <button type="button" class="btn btn-outline-dark">1 B</button>

    </a>
    
    <br>
    <a href="2A">
        <button type="button" class="btn btn-outline-dark">2 A</button>

    </a>
    <a href="2B">
        <button type="button" class="btn btn-outline-dark">2 B</button>

    </a>
    
    <br>
    <a href="3A">
        <button type="button" class="btn btn-outline-dark">3 A</button>

    </a>
    <a href="3B">
        <button type="button" class="btn btn-outline-dark">3 B</button>

    </a>
    
    
    <br>
    <a href="4A">
        <button type="button" class="btn btn-outline-dark">4 A</button>

    </a>
    <a href="4B">
        <button type="button" class="btn btn-outline-dark">4 B</button>

    </a>
    
    



</div>
<%- include("footer") -%>
