<%- include("header") -%>
<div class="adminSelect">
    <a href="addStudent">
        <button type="button" class="btn btn-secondary btn-lg">Add a student to the institution</button><br><br>
    </a>
    
    <a href="addTeacher">
        <button type="button" class="btn btn-secondary btn-lg">Add a teacher to the institution</button>

    </a>
    
</div>


<%- include("footer") -%>
