<%- include("header") -%>
    <div class="selection">
        <h1>Login as</h1><br><br>
        <a href="adminlogin">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Admin</button><br><br>

        </a>
        <a href="teacherlogin">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Teacher</button><br><br>

        </a>
        <a href="studentlogin">
            <button type="button" class="btn btn-secondary btn-lg btn-block">Student</button>

        </a>
        

    </div>

<%- include("footer") -%>
