
<%- include("header") -%>
<div class="addStudent">
    <h1>Select a Class to enter marks</h1>
    <a href="1Amarks">
        <button type="button" class="btn btn-outline-dark">1 A</button>

    </a>
    <a href="1Bmarks">
        <button type="button" class="btn btn-outline-dark">1 B</button>

    </a>
    
    <br>
    <a href="2Amarks">
        <button type="button" class="btn btn-outline-dark">2 A</button>

    </a>
    <a href="2Bmarks">
        <button type="button" class="btn btn-outline-dark">2 B</button>

    </a>
    
    <br>
    <a href="3Amarks">
        <button type="button" class="btn btn-outline-dark">3 A</button>

    </a>
    <a href="3Bmarks">
        <button type="button" class="btn btn-outline-dark">3 B</button>

    </a>
    
    
    <br>
    <a href="4Amarks">
        <button type="button" class="btn btn-outline-dark">4 A</button>

    </a>
    <a href="4Bmarks">
        <button type="button" class="btn btn-outline-dark">4 B</button>

    </a>
    
    



</div>
<%- include("footer") -%>